
    <title>Mi familia </title>
</head>
    <h1>Esta es mi familia</h1>
<body>
</style>
<section>
    <h2>Mi Padre:</h2>    
    <p>Mi Padre se llama {{nombre_miPadre}}</p>
    <p>Mi Padre nacio el {{fechanac_miPadre}}</p>
    <p>Su Doc es {{doc_miPadre}}</p>
    
    <h2>Mi Madre:</h2>    
    <p>Mi Madre se llama {{nombre_miMadre}}</p>
    <p>Mi Madre cumple el {{fechanac_miMadre}}</p>
    <p>Su Doc es {{doc_miMadre}}</p>

    <h2>Mi Sobrino:</h2>    
    <p>Mi Sobrino se llama {{nombre_miSobrino1}}</p>
    <p>Mi Sobrino cumple el {{fechanac_miSobrino1}}</p>
    <p>Su Doc es {{doc_miSobrino1}}</p>
	
	<h2>Mi Sobrino:</h2>    
    <p>Mi Sobrino se llama {{nombre_miSobrino2}}</p>
    <p>Mi Sobrino cumple el {{fechanac_miSobrino2}}</p>
    <p>Su Doc es {{doc_miSobrino2}}</p>
</body>
</html>